.parent {
    text-align: center;
    display: grid;
    max-width: 100%;
    width: 100%;
    grid-template-columns: 3% 3% repeat(10, 9.3%);
    grid-template-rows: repeat(5, 1fr);
    gap: 2px;

    & .div8,.div9,.div10,.div11,.div12,.div13{
        border: none;
    }
}
.grid-head{
    font-weight: bold;
    & div{
        background-color: #820000;
        color: #FFFFFF;
        padding: 10px;
    }
}
.div1 {
    grid-row: span 2 / span 2;
}
.div2 {
    grid-row: span 2 / span 2;
}
.div3 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
}
.div4 {
    grid-column: span 2 / span 2;
    grid-column-start: 5;
}
.div5 {
    grid-column: span 2 / span 2;
    grid-column-start: 7;
}
.div6 {
    grid-column: span 2 / span 2;
    grid-column-start: 9;
}
.div7 {
    grid-column: span 2 / span 2;
    grid-column-start: 11;
}
.div8 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
}
.div9 {
    grid-column: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 2;
}
.div10 {
    grid-column: span 2 / span 2;
    grid-column-start: 7;
    grid-row-start: 2;
}
.div11 {
    grid-column: span 2 / span 2;
    grid-column-start: 9;
    grid-row-start: 2;
}
.div12 {
    grid-column: span 2 / span 2;
    grid-column-start: 11;
    grid-row-start: 2;
}
.div13 {
    grid-column-start: 8;
    grid-row-start: 2;
}
.div8,.div9,.div10,.div11,.div12,.div13{
    background-color: transparent !important;
    padding: 0 !important;
    display: grid;
    grid-template-columns: 79.4% 20%;
}